@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");



.sidebar {
  background-color: #222222;
  color: #f5c518;
  height: 100vh;
  width: 17vw;
  position: fixed;
  top: 0;
  left: 0;
  font-family: bebas neue;
}

.sidebar__list {
  list-style: none;
  padding: 30px;
}

.sidebar__link {
  color: #f5c518;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
  display: block;
}
.sidebar__link:hover {
  color: #fff;
}

.profile{
    font-size: 20px; 
}

.profile-picture{
    margin: 15px 0px;
    height: 150px;
    width: 150px;
}

.logout{
    position: fixed;
    bottom: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #f5c518;
}

.logout:hover{
    color: #fff;
}
